body {
background-color: #2b3e50;
}
#header h1 {
   font-size: 25px;
   color: rgb(141, 141, 141);
}
#numbah {
font-size: 25px;
color: rgb(141, 141, 141);
}
#chart svg {
  height: 600px;
  width: 600px;
}
#navbar .navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
border-width: 0 1px 4px 1px;
}
#LoginBox {
margin-left: auto;
margin-top: 15%;
margin-bottom: auto;
margin-right: auto;
width: 500px;
height: 200px;
float: none;
} 
#LoginButton {
margin-top: 50px;
}
#tablecont {
margin-left: auto; 
margin-right: auto;
margin-top: 100px;
margin-bottom: auto;
width: 820px;
min-height: 100px;
float: none;
}
#yomama {
margin-top: 50px;
}
#AddUserBox  {
width: 500px;
height: 600px;
margin-left: auto;
margin-right: auto;
float: none;
}
#fraggle {
margin-top: 50px;
}
#body {
margin-left: auto;
margin-right: auto;
}
#data {
margin-left: auto;
margin-right: auto;
}
.well {
box-shadow: inset 0 1px 1px;
backround-color: rgba(192, 225, 255, 0.67);
}
.navbar-header {
float: left;
}